Source: libhomegear-addon0
Maintainer: Sathya Laufer <sathya@laufers.net>
Section: misc
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 8)
Homepage: https://homegear.eu

Package: libhomegear-addon0
Architecture: any
Section: misc
Priority: optional
Homepage: https://homegear.eu
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Provides a library to easily create addon devices for Homegear.
 This packet provides a library to create addon devices for
 Homegear.

Package: libhomegear-addon0-dev
Architecture: any
Section: libdevel
Priority: optional
Homepage: https://homegear.eu
Depends: ${shlibs:Depends}, ${misc:Depends}, libhomegear-addon0, libc6-dev | libc-dev
Description: Header files for libhomegear-addon.
 This packet provides the header files you need to include
 in your own project to use Homegear's addon library.
