#!/usr/bin/make -f

override_dh_auto_clean:
	rm -Rf bin
	rm -Rf obj

override_dh_auto_configure:
	# We can for example download needed files here.
	# All shell commands are supported

override_dh_auto_build:
	make config=release

override_dh_auto_install:
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	#libhomegear-addon0
	mkdir -p $(CURDIR)/debian/libhomegear-addon0/usr/lib/
	cp $(CURDIR)/bin/Release/libhomegear-addon.so $(CURDIR)/debian/libhomegear-addon0/usr/lib/libhomegear-addon.so.0
	
	#libhomegear-addon0-dev
	mkdir -p $(CURDIR)/debian/libhomegear-addon0-dev/usr/lib/
	ln -s /usr/lib/libhomegear-addon.so.0 $(CURDIR)/debian/libhomegear-addon0-dev/usr/lib/libhomegear-addon.so
	mkdir -p $(CURDIR)/debian/libhomegear-addon0-dev/usr/include/homegear-addon
	mkdir -p $(CURDIR)/debian/libhomegear-addon0-dev/usr/include/homegear-addon/Encoding
	mkdir -p $(CURDIR)/debian/libhomegear-addon0-dev/usr/include/homegear-addon/HelperFunctions
	cp $(CURDIR)/*.h $(CURDIR)/debian/libhomegear-addon0-dev/usr/include/homegear-addon/
	cp $(CURDIR)/Encoding/*.h $(CURDIR)/debian/libhomegear-addon0-dev/usr/include/homegear-addon/Encoding
	cp $(CURDIR)/HelperFunctions/*.h $(CURDIR)/debian/libhomegear-addon0-dev/usr/include/homegear-addon/HelperFunctions
%:
	dh $@
